# Script for Data Profiling with Pandas

## Imoprt packages

In [3]:
import pandas as pd
import pyodbc
import sys
#pip install pandas-profiling 
import pandas_profiling 
from pandas_profiling import ProfileReport
import os
#pip install psycopg2
import psycopg2 as pg

## setting environmental varibales

In [4]:
# parameters DB and table
table_name_from_database= 'payers'
DB = {'servername': 'PC0DZ6Y5',
      'database': 'SYNTHEA_DB'}

## Database connection

In [5]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
payer = pd.read_sql_query(f"""select * from {table_name_from_database} """, conn)
#Check data dimention
payer.shape

(10, 21)

In [10]:
# Read data fromm CSV
payer_csv=pd.read_csv ('payers.csv')

# check data dimention
payer_csv.shape

#check data head
payer_csv.head()

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,141676.87,119449.83,1305000.0,...,0,556,0,280,0,223,0,25,0.362810,3348
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,4756720.13,890394.37,7122250.0,...,0,13471,0,7383,0,2557,0,198,0.786223,29760
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,3636994.03,1814967.93,20365500.0,...,0,6382,0,47611,0,7022,0,507,0.812137,84276
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799,716971.60,842531.43,118500200.0,...,1796,0,4985,12718,550,6832,195,281,0.911843,70308
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583,2741717.82,1431463.91,140652000.0,...,0,6159,0,15312,0,7520,0,307,0.907256,78768

## Data Profiling

In [52]:
#to check data types
payer.dtypes

Id                          object
NAME                        object
ADDRESS                     object
CITY                        object
STATE_HEADQUARTERED         object
ZIP                        float64
PHONE                       object
AMOUNT_COVERED             float64
AMOUNT_UNCOVERED           float64
REVENUE                    float64
COVERED_ENCOUNTERS          object
UNCOVERED_ENCOUNTERS        object
COVERED_MEDICATIONS         object
UNCOVERED_MEDICATIONS       object
COVERED_PROCEDURES          object
UNCOVERED_PROCEDURES        object
COVERED_IMMUNIZATIONS       object
UNCOVERED_IMMUNIZATIONS     object
UNIQUE_CUSTOMERS             int64
QOLS_AVG                   float64
MEMBER_MONTHS                int64
dtype: object

In [11]:
payer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       10 non-null     object
 1   NAME                     10 non-null     object
 2   ADDRESS                  9 non-null      object
 3   CITY                     9 non-null      object
 4   STATE_HEADQUARTERED      9 non-null      object
 5   ZIP                      9 non-null      float64
 6   PHONE                    9 non-null      object
 7   AMOUNT_COVERED           10 non-null     float64
 8   AMOUNT_UNCOVERED         10 non-null     float64
 9   REVENUE                  10 non-null     float64
 10  COVERED_ENCOUNTERS       10 non-null     object
 11  UNCOVERED_ENCOUNTERS     10 non-null     object
 12  COVERED_MEDICATIONS      10 non-null     object
 13  UNCOVERED_MEDICATIONS    10 non-null     object
 14  COVERED_PROCEDURES       10 non-null     object
 15  UNCOVERED_PROCEDURES     10 non-null     object
 16  COVERED_IMMUNIZATIONS    10 non-null     object
 17  UNCOVERED_IMMUNIZATIONS  10 non-null     object
 18  UNIQUE_CUSTOMERS         10 non-null     int64
 19  QOLS_AVG                 10 non-null     float64
 20  MEMBER_MONTHS            10 non-null     int64
dtypes: float64(5), int64(2), object(14)
memory usage: 1.8+ KB

In [14]:
# minimum mode a simplified report will be generated 
# with less information than the full one but it can
# be generated relatively quickly for a large dataset

profile_payer = pandas_profiling.ProfileReport(payer)
profile_payer.to_file(output_file='payer_profiling.html')
profile_payer.to_file(output_file='payer_profiling.json')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=35.0, style=ProgressStyle(descripâ€¦

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(â€¦

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

HBox(children=(FloatProgress(value=0.0, description='Render JSON', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

In [8]:
payer.describe()

,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,gender_source_concept_id,race_source_concept_id,ethnicity_source_concept_id
count,1171.0,1171.0,1171.0,1171.0,1171.0,1171.0,0.0,0.0,0.0,1171.0,1171.0,1171.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0